# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.mexw32
*.mexw64
*.mexa64
*.mexmaci64

# Debug
*.pdb

# Executables
*.exe
*.out
*.app

# Log
*.log

# Auto Save
*.asv

# Project File
*.*project
*.settings